@{
    Layout = null;
}
<! DOCTYPE html>
<html>
<head>
<meta name= "viewport" content="width=device-width" />
<title>Added</title>
   <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>

</head>
<body class="text-center">
<p>
<hl>@Model.Name Added! </hl>
@if (Model.RedCard==false) {
@:Player can play! 
} else {
@:Player cannot play! 
}
</p>
<p>Click <a class="nav-link" asp-action="ListPlayers">here</a> to see who is added.</p>
</body>
</html>