
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
        <head>
            <meta name="viewport " content="width=device-width" />
            <title>Index</title>
            <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
        </head>
    <body>

 <div class="text-center">Hello World (from the view)
         <div  class="text-center">@ViewBag.Greeting World (from the view) </div>

@*         <p>We're going to have an exciting party.<br/>
        (To do: sell it better. Add pictures or something.)
        </p>
*@    <a class="btn btn-primary" asp-action="PlayerForm">Add Players</a></div>
    </body>
</html>